* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: hwb(352 7% 0% / 0.808);
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: hwb(0 6% 94% / 0.493);
    font-weight: bold;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

ul li {

list-style-type: none;
margin: 20px 0 5px 0;
padding: 10px;
background-color: #f9f9f9;
border: 1px solid #ddd;
border-radius: 5px;
}