---
const pageTitle = "Nosotros - BreakCookies";
import '../styles/global.css'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>

	<body>
    	<Header />
		<main>
			<h1>Sobre Nosotros</h1>
			<p style="text-align: center; margin-top: 16px; max-width: 640px; margin-left: auto; margin-right: auto;">En BreakCookies llevamos más de 10 años endulzando la vida de nuestros clientes. Nuestra pasión por la repostería artesanal y los ingredientes de temporada nos ha convertido en un referente local.</p>
		</main>
		<Footer />
	</body>
</html>
